*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-image: url(../img/header.png);
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    height: 250px;
    background-color: #0D0D0D;
}
#navbarMenPrp{
    position: sticky;
    top: 0px;
    z-index: 1;
}
h1, h2, h6{
    color:#F28B50;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}
h4{
    color: #F2F2F2;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
}
h5{
    color: #F2F2F2;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
.nav-item{
    font-family: 'Nunito Sans', sans-serif;
}
p{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}
iframe{
    height: 200px;

}
.newsletter_redes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* box newsletter */
#newsletter{
    margin: 20px 0px 0px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#mail_newsletter{
    font-family: 'Nunito Sans', sans-serif;
    border-color: #F28B50;
    width: 80%;
}
